* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {

  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.container {
        display: flex;
        align-items: center;
    }
.container img {
        margin-right: 20px;
    }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
}
h3{
    border-top: 3px solid #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 30px;
}
p {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
}


#box {
  color: black ;
  background-color: rgb(234, 234, 234) ;
  padding: 22.4px ;
}

.grow img{
  transition: 1s ease;
  }
  
  .grow img:hover{
  -webkit-transform: scale(1.13);
  -ms-transform: scale(1.13);
  transform: scale(1.13);
  transition: 1s ease;
  }

  a:link {
    color: rgb(128, 128, 128);
  }
  a:visited {
    color: rgb(128, 128, 128);
  }
  a:focus, a:hover {
    color: rgb(144, 189, 255);
  background-color: #fff;
  }
  a:active {
    color: rgb(144, 189, 255);
  background-color: #fff;
  }